<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link type="text/css" rel="stylesheet" href= "{{ url_for ('static', filename='C:/Users/User/source/repos/AIGrader/AIGrader/AIGrader/static/content/site.css') }}" />
    <meta charset="utf-8" />
    <title>Hello World</title>
</head>
<body>
    <h1>Enter some textttt</h1>
    <form action="submit" id="textform" method="post">
        <textarea name="text">Hello World!</textarea>
        <input type="submit" value="Submit">
    </form>
</body>
</html>